<section class="team">
  <div class="container">
    <div class="row">
      <h2 class="description">Profile</h2>
      <hr>
      <div class="row">
        <a class="profile-hover" ng-href="#/attendees/{{attendee.id}}">
          <div class="col-md-4">
            <div class="img-box">
              <img src="{{attendee.image_url}}" class="img-responsive">
            </div>
          </div>
          <div class="col-md-6">
            <div class="">
              <h2><b>{{attendee.full_name}}</b></h2>
              <h3>{{attendee.title}}</h3>
              <h3>{{attendee.company}}</h3>
              <p><b>Interests:</b> <br /><span ng-repeat="interest in attendee.interests">{{interest.title}} </span></p>
              <p><b>Bio: </b> <br />{{attendee.bio}}</p>
            </div>
          </div>
        </a>
      </div>
    </div>
    <hr>
    <a ng-href="#/attendees"> << Back</a>
  </div>
</section>
